<div class="friend">
  <div class="friend_name">
    <%= friend.name %>
  </div>
  <% int, dec = friend.transactions_value %>
  <div id="friend_<%= friend.id %>_total_expenses_for_<%= @current_board.id %>"><%= int %>, <%= dec %></div>
  <% int, dec, bit = friend.balance %>
  <div id="friend_<%= friend.id %>_balance_for_<%= @current_board.id %>"><span id="friend_<%= friend.id %>_real_for_<%= @current_board.id %>"><%= int %>, <%= dec %></span><span id="friend_<%= friend.id %>_bit_for_<%= @current_board.id %>"><%= bit %></span></div>
</div>

<script>
  // console.log(boardAvTVal)
  // boardAverage(total, nbfriends);
  // friendExpenses();
</script>
