<h3><%= @current_board.title %></h3>

<% @current_board.users.each do |user| %>
  <%= user.username %>
<% end %>

<%= simple_form_for @new_account, method: :post do |f| %>
  <%= f.input :board,as: :hidden, :input_html => { value: "#{@current_board.id}" } %>
  <%= f.input :user %>
  <%= f.button :submit, "Give access" %>
<% end %>

<% @current_board.friends.each do |friend| %>
  <%= friend.name %>
<% end %>

<%= simple_form_for [@current_board, @new_friend], method: :post do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, "Add friend" %>
<% end %>
<ul>
  <% if @current_board.transactions %>
    <% @current_board.transactions.each do |transaction| %>
      <li>
        <%= transaction.payer.name %> paid <%= transaction.amount %>
        <%= transaction.date if transaction.date %>
        <%= transaction.comment if transaction.comment %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= simple_form_for [@current_board, @new_transaction], method: :post, remote: true do |f| %>
  <%= f.input :payer, collection: @current_board.friends %>
  <%= f.input :amountint %>
  <%= f.input :amountdec %>
  <%= f.input :date, as: :string, include_blank: :true, input_html: { id: "datepicker" } %>
  <%= f.input :comment %>
  <%= f.button :submit, "Add" %>
<% end %>

