<h3><%= @current_board.title %></h3>

<% @current_board.users.each do |user| %>
  <%= user.username %>
<% end %>

<%= simple_form_for @new_account, method: :post do |f| %>
  <%= f.input :board,as: :hidden, :input_html => { value: "#{@current_board.id}" } %>
  <%= f.input :user %>
  <%= f.button :submit, "Give access" %>
<% end %>

<% @current_board.friends.each do |friend| %>
  <%= friend.name %>
<% end %>

<%= simple_form_for [@current_board, @new_friend], method: :post do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, "Add friend" %>
<% end %>
